# комментарий

# правила для игнорирования:

*.a         # все файлы с расширением .a
!lib.a      # но отслеживать lib.a

/cache      # файл cache из корня, но не src/cache
build/      # все файлы в каталоге build

src/*.txt   # все файлы с расширением .txt из каталога src, но не вложенных.

            # (?) - 1 любой символ
            # [abc] - любой символ из указанных в скобках
            # [0-9] - любой символ из интервала